<%- include("partials/header.ejs") %>
    <div class="menu-bar">
        <button class="btn btn-outline-primary" id="add-book">Add a book!</button>
    </div>
    <!-- books read list -->
    <div>
    <%if(books && books.length >0) {%>
    <ul class="book-list px-0 py-0 rounded">
        <% books.forEach(book=>{ %>
            <li>
                <div class="book-card rounded">
                    <img class="book-img mb-1 rounded" src="<%=book.avatar %>" alt="<%= book.title%>">
                    <span class="arial-ital"><strong>Title: </strong> <%= book.title%></span>
                    <span class="arial-ital"><strong>Author: </strong> <%= book.author%></span>
                    <span class="arial-ital"><strong>Language: </strong><i><%=book.lang%></i></span>
                    <hr style="margin:0;padding:0;">                    
                   <div class="rating-container">
                        <div class="rating">
                            <div class="stars-outer">
                            <div class="stars-inner" id="book-<%=book.id%>"></div>
                            </div>
                        </div>
                        <span class="star-rating arial-ital"  data-rating="<%= book.rating%>" data-id="<%=book.id%>" > <%= book.rating%>/5</span>
                    </div>
                    <div class="ctrls-container gap-1">
                        <button class="ctrls btn btn-dark btn-sm" id="view-button" data-id="<%= book.id%>">More...</button>
                        <button class="ctrls btn btn-dark btn-sm" id="edit-button" data-id="<%= book.id%>">Edit</button>
                        <button class="ctrls  btn btn-dark btn-sm" id="del-button" data-id="<%= book.id%>">Delete</button>
                    </div>
                </div>
            </li>    
        <% });%>
    </ul>
        <%}else{%>
            <h5 class="flex-cont">You havent added any books to your list yet</h5>    
        <%}%>
    </div>

    <div class="modal" id="add-newBk">
        <div class="mymodal-content container dark">
            <div class="ModalTitleBar">Add a new book <span class="close" id="closeAddModal">&times;</span></div>
            <form action="/add"  id="add-new" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-3 mt-2">
                        <div class="pict">
                            <img  alt="Add a book image" class="rounded border defa-img" id="book-cover-preview">
                            <hr>
                            <div class="ctrls-flex-c btn-group mb-1 p-1">
                                <input type="file" name="coverImage" id="coverImage" class="form-control mb-2 btn btn-outline-secondary" accept="image/*">
                            </div>
                        </div>
                    </div>
                    <div class="col-9 mt-2">
                        <div class="row mt-4">
                            <div class="col-6 mb-2">
                                <!-- <label for="title" class="form-label">Title</label> -->
                                <input type="text" name="title" id="title" class="form-control" required placeholder="Title">
                            </div>
                            <div class="col-6 mb-2">
                                <!-- <label for="author" class="form-label">Author </label> -->
                                <input type="text" name="author" id="author" class="form-control" required placeholder="Author">
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-6 mb-2">
                                <!-- <label for="title" class="form-label">ISBN</label> -->
                                <input type="text" name="isbn" id="isbn" class="form-control mb-1" required maxlength="15" placeholder="ISBN">
                                <button class="btn btn-primary rounded hide" id="search-online">Search for Cover Online</button>
                            </div>
                            <div class="col-6 mb-2">
                                <!-- <label for="lang" class="form-label">Language </label> -->
                                <input type="text" name="lang" id="lang" class="form-control" required placeholder="Language">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-6 mb-2">
                                <!-- <label for="date_read" class="form-label">Date read</label> -->
                                <input type="date" name="date_read" id="date_read" class="form-control" required placeholder="Date read">
                            </div>
                            <div class="col-6 mb-2">
                                <!-- <label class="form-label">Rating</label> -->
                                
                                <input type="hidden" name="rating" id="rating" class="form-control" required placeholder="Rating">
                                <div class="rating" data-rating="0" id="rating-add">
                                    <div class="stars-outer" id="rating-add-outer">
                                      <div class="stars-inner" id="rating-add-inner"></div>
                                    </div>
                                  </div>
                                  <span  class="rating-show" id="rating-disp"></span>
                            </div>
                        </div>                                     
                    </div>
                </div>
                <div class="row p-0">
                    <div class="col-12 mx-auto p-2">
                        <p class="form-label ModalTitleBar" >Notes about the book</p>
                        <div  id="editor" class="editor"> </div>
                        <input type ="hidden" name="notes" id="add-notes" />
                </div>
                <div class="row p-0">
                    <div class="col-12 d-flex justify-content-end p-0">
                        <input type="hidden" name="notes" id="add-notes">
                        <input type="hidden" name="imgUrl" id="img-Url">
                        <button class="btn btn-secondary" id="reset-add" type="reset">Reset</button>
                        <button class="btn btn-primary ms-2" id="submit-Add" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<%- include("partials/footer.ejs") %>
<script type="module">
    import { createQuillEditor } from  '/js/quillSetUp.js';
    import {showDynamicAlert, showModal, closeModal, 
            fillStars, getQlContent} from '/js/Util.js';
    import { initializeRatingSystem } from '/js/DOM.js';

    document.addEventListener('DOMContentLoaded', ()=> {

    //#region avatar upload declarations
        const imgFileInput=document.getElementById('coverImage');
        const coverImgPreview=document.getElementById('book-cover-preview');
    //#endregion
    //#region  search declarations
        const searchLbl="Search the open-library By"
        const searchModal=document.getElementById('search-modal');
        const loadingWait =document.getElementById('spinner-modal');
        const searchInput=document.getElementById('searchInput');
        const closeSearchBtn=document.getElementById('closeSearchModal');
        const modalContent=document.getElementById('mymodal-content');
        const searchForm= document.getElementById('searchForm');
    //#endregion
    //#region :Add new book declarations
            const addBtn=document.getElementById('add-book');
            const addModal=document.getElementById('add-newBk');
            const closeAddBtn=document.getElementById('closeAddModal');
            const qlContainer=document.getElementById('editor');
            const addNewForm=document.getElementById('add-new');
            const submitBtn=document.getElementById('submit-Add');
            const noteText=document.getElementById('add-notes');
            const imgUrl=document.getElementById('img-Url');

            const addQuill=createQuillEditor(qlContainer)
    //#endregion

    //#region Hide or show search button when ISBN is keyed in
            const isbnIput=document.getElementById('isbn');
            const searchBtn=document.getElementById('search-online');
            isbnIput.addEventListener('input',()=>{
                if(isbnIput.value.trim()!==""){
                    searchBtn.style.visibility='visible';
                }else{
                    searchBtn.style.visibility='hidden';
                }
            });
    //#endregion

    //#region Add book functionality
            submitBtn.addEventListener('click',(e)=>{
                if(addQuill.root.innerHTML===''){
                    e.preventDefault();
                }else{
                    getQlContent(noteText, addQuill);
                }
            });

            addBtn.addEventListener('click', ()=>{
                let currentRating=0;
                showModal(addModal);
            });

            closeAddBtn.onclick=()=>{
                closeModal(addModal);
            }
            addNewForm.onsubmit=(e)=>{
                if(quill.root.innerHTML===''){
                    e.preventDefault();
                }else{
                    getQlContent(noteText, quill);
                }
            }
    //#endregion

    //#region Search functionality
            document.querySelectorAll('.dropdown-item').forEach(item =>{
                item.addEventListener('click', (event)=>{
                    event.preventDefault();
                    // console.log('click event fired');
                    const selectedText=item.textContent
                    const searchBy=item.getAttribute('data-searchby');

                    document.getElementById('searchByLabel').textContent=`${searchLbl}: ${selectedText}`;

                    document.getElementById('searchByHidden').value=searchBy;

                    document.getElementById('searchInput').ariaPlaceholder=`Search By: ${selectedText}`;
                    document.getElementById('searchInput').placeholder=`Search By: ${selectedText}`;
                });
            });

            // validate search input and display the modal that is going to show the books
            searchForm.addEventListener('submit',(event)=>{
                const searchValue=searchInput.value.trim();
                if(searchValue===''){
                    event.preventDefault();
                    // show dynamic message instead of the usual alert
                    showDynamicAlert('Please input a search value',searchForm);
                    return;
                }
                
            });
    //#endregion
        
    //#region avatar/file upload functionality
            imgFileInput.addEventListener('input',()=>{
                if(imgFileInput.files && imgFileInput.files.length > 0){
                    coverImgPreview.style.backgroundImage = 'none';
                }else{
                    coverImgPreview.style.backgroundImage=`url('/covers/DefaultCover.png')`;
                    coverImgPreview.src="";
                }
                previewImage();
            });    
            function previewImage() {
                const reader = new FileReader();
                reader.onload = function() {
                    coverImgPreview.src = reader.result;
                };
                reader.readAsDataURL(event.target.files[0]);
            }        
    //#endregion

    //#region set ratings stars region
            initializeRatingSystem();
    //#endregion
    });
</script>