<%- include("partials/header.ejs") %>
 
    <span style="text-align: center;" class="ModalTitleBar mt-2">Search results for: &nbsp;</span><span class="ModalTitleBar"><i>"<%= SearchTerm%>"</i></span>
    <hr>
    <h5>Search results from the open library</h5>
    <div id="openLibResults px-0 py-0">
        <%if( remRes && remRes.length >0){%>
            <ul class="book-list">
                <%remRes.forEach((book, idx)=>{%>
                    <li>
                        <div class="book-card">
                            <img class="mb-1 book-img rounded" src="<%=book.avatar%>" alt="<%=book.Title%>">
                            <div class="book-dets">
                                <p><strong>Title: </strong><%=book.title%></p>
                                <p><strong>Author: </strong><%=book.author%></p>
                                <p><strong>ISBN: </strong><%=book.isbn13%></p>
                                <p><strong>Language: </strong><%=book.lang%></p>
                                <p><strong>Published: </strong><%=book.publish%></p>
                            </div>
                            <div class="add-item">
                                <button class="ctrls  btn btn-dark" data-id="<%=idx%>">Add this book!</button>
                            </div>
                        </div>
                    </li>
                <%});%>
            </ul>
        <%}else{ %>
            <p class="px-2 py-0"><i>No results available from the open library</i></p>
        <%}%>
    </div>
    <hr>
    <h5>Similar books already added</h5>
    <div id="localDbResults">
        <%if(locRes && locRes.length > 0){%>
            <ul class="book-list px-0 py-0">
                <%locRes.forEach((book)=>{%>
                <li>
                    <div class="book-card">
                        <img class="mb-1 book-img rounded" src="<%=book.avatar%>" alt="<%=book.title%>" data-id="<%=book.id%>" id="book-image">
                        <span class="arial-ital"><strong>Title: </strong> <%= book.title%></span>
                        <span class="arial-ital"><strong>Author: </strong> <%=book.author%></span>
                        <span class="arial-ital"><strong>Language: </strong><i><%=book.lang%></i></span>
                        <hr style="margin:0;padding:0;">                    
                        <div class="rating-container">
                            <div class="rating">
                                <div class="stars-outer">
                                <div class="stars-inner" id="book-<%=book.id%>"></div>
                                </div>
                            </div>
                            <span class="star-rating arial-ital"  data-rating="<%=book.rating%>" data-id="<%=book.id%>" > <%=book.rating%>/5</span>
                        </div>
                        <div class="ctrls-container gap-1">
                            <button class="ctrls btn btn-dark btn-sm" id="view-button" data-id="<%=book.id%>">More...</button>
                            <button class="ctrls btn btn-dark btn-sm" id="edit-button" data-id="<%=book.id%>">Edit</button>
                            <button class="ctrls  btn btn-dark btn-sm" id="del-button" data-id="<%=book.id%>">Delete</button>
                        </div>
                    </div>
                </li>
                <%});%>
            </ul>
        <%}else{%>
            <p class="px-2 py-0"><i>No results from local repository</i></p>
        <%}%> 
    </div>
    <script type="module">
        import { createQuillEditor } from  '/js/quillSetUp.js';
        import { showDynamicAlert, showModal, closeModal, 
                getQlContent} from '/js/Util.js';
        import {initializeRatingSystem, initializeCommonDOM } from '/js/DOM.js';

        document.addEventListener('DOMContentLoaded', ()=>{
            initializeRatingSystem();
            initializeCommonDOM();
        });
    </script>
<%- include("partials/footer.ejs") %>