<%- include("partials/header.ejs") %>
        <%if(book){%>
            <div class="container mt-3 rounded p-3">
                      <!-- Title Section -->
                <div class="row">
                    <div class="col-12 text-center px-0">
                    <h3 class="text-align-left"><strong>MY NOTES ABOUT: <%= book[0].title.toUpperCase() %>- BY <%= book[0].author.toUpperCase() %></strong></h3>
                    </div>
                </div>
                <hr>
                <div class="row mt-3">
                    <div class="col-12">
                        <span class="float-start mb-3 mx-3 text-start">
                            <img src="<%=book[0].avatar%>" alt="book avatar" class="book-img-l img-fluid rounded">
                            <p>ISBN: <%=book[0].isbn13%></p>
                            <p>LANGUAGE: <%= book[0].lang.toUpperCase() %></p>
                            <p>DATE READ: <%= formatDate(book[0].date_read) %></p>
                            <div class="rating-container">
                                <span class="star-rating arial-ital"  data-rating="<%=book[0].rating%>" 
                                                                    data-id= "<%=book[0].id%>">
                                                                    MY RATING: <%=book[0].rating%>/5
                                </span>                        
                                <div class="rating">
                                    <div class="stars-outer">
                                    <div class="stars-inner" id="book-<%=book[0].id%>"></div>
                                    </div>
                                </div>
                            </div>                             
                        </span>
                        <div>
                            <!-- <p class="float-end rounded modal-title-normal mb-0 px-0"><strong>MY NOTES ABOUT THE BOOK</strong></p> -->
                            <span class="py-2 float start notes-section ql-snow" id="editor"> 
                                <%- bookNotes %>
                            <span>
                        </div>
                    </div>
                </div>
            </div>
            <%}else{%>
                <p class="instruct"> Oof! That didn't quite work. Please navigate to home and try again</p>
            <%}%>
        </div>
    <script type="module">
        import {initializeRatingSystem, initializeCommonDOM } from '/js/DOM.js';
        import { createQuillEditor } from  '/js/quillSetUp.js';
        import {showDynamicAlert, showModal, closeModal, 
            fillStars, getQlContent, formatDate} from '/js/Util.js';
        document.addEventListener('DOMContentLoaded', ()=>{
            const btnEdit = document.getElementById('edit-button');
            const sendForm=document.getElementById('change-notes');
            const qEditor=document.getElementById('editor');
            
            initializeRatingSystem();
        });
    </script>
<%- include("partials/footer.ejs") %>